@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketEcommerceAPI.Components;
@using RocketPortal.Components;
@using Rocket.AppThemes.Components;
@using System.Web;
@AssigDataModel(Model)

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources")

<!-- Sidebar/Menu -->
<div id="sidebarplaceholder">
    @RenderTemplate("SideMenu.cshtml", appThemeSystem, Model, true)
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:280px;">

    <!-- Main -->
    <div style="padding-top:0px;">
        <!-- Content -->
        <div id="simplisity_startpanel" class="w3-row simplisity_panel" s-fields='{"systemkey":"@(systemData.SystemKey)","debug":"false"}' s-cmd="dashboard_get" s-fields=''>
            <div class="simplisity_loader">
                <span class=" simplisity_loader_inner">
                </span>
            </div>
        </div>
    </div>
</div>

@{
    Model.SetSetting("chatgptcmd", "rocketecommerceapi_chatgpt");
}
@RenderTemplate("ChatGptForm.cshtml", appThemeRocketApi, Model, true)

<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketecommerceapi', tabid: '@(sessionParams.TabId)', debug: false });

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.
        $('.simplisity_loader').show();
    });
</script>
