@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketEcommerceAPI.Components;
@using RocketPortal.Components;
@using Rocket.AppThemes.Components;
@using System.Web;
@using Rocket.AppThemes.Components;

@{
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemAppTheme = new AppThemeDNNrocketLimpet("rocketapptheme");
    var appTheme = new AppThemeLimpet(portalShop.PortalId, portalShop.AppThemeFolder, portalShop.AppThemeVersion, portalShop.ProjectName);
}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")


@RenderTemplate("Popups.cshtml", systemAppTheme, Model, true)

<div class="w3-row">
    <a href="@DNNrocketUtils.NavigateURL(moduleData.TabId)" class="w3-button w3-black">@ButtonIconText(ButtonTypes.back)</a>

    <div class="w3-row w3-right w3-small">
        <div class="">
            @moduleData.ModuleRef
        </div>
        <div class="">
            @portalShop.ProjectName
        </div>            
        <div class="">
            @portalShop.AppThemeFolder
        </div>
    </div>
</div>

<div class="w3-row">

    <div class="w3-col m4 w3-padding">
        <div class="w3-pale-green w3-container w3-center">
            <div class="w3-margin">
                <div class="w3-xlarge">
                    System Level&nbsp;
                    <span class="material-icons">
                        system_update_alt
                    </span>
                </div>
            </div>
            <div class="w3-margin">
                @ResourceKey("AppThemes.systemleveleditmsg")
            </div>
        </div>
    </div>

    <div class="w3-col m4 w3-padding">
        <div class="w3-pale-yellow w3-container w3-center">
            <div class="w3-margin">
                <div class="w3-xlarge">Portal Level&nbsp;<img src="/images/level_portal.svg" /></div>
            </div>
            <div class="w3-margin">
                <div class="w3-button w3-white w3-border w3-block w3-padding-16 simplisity_click" s-cmd="rocketapptheme_getdetail" s-return="#editmodalcontainer" s-after="showeditpopup" s-fields='{"selectedproject":"@moduleData.ProjectName","moduleref":"","appthemefolder":"@portalShop.AppThemeFolder","appversionfolder":"@portalShop.AppThemeVersion"}'>
                    @ResourceKey("AppThemes.edittemplates")
                </div>
                <div class="w3-small w3-left-align">
                    @foreach (var t in appTheme.PortalTemplateList())
                    {
                        <div class="w3-margin-top"><strong>@t</strong></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="w3-col m4 w3-padding">
        <div class="w3-pale-blue w3-container w3-center">
            <div class="w3-margin">
                <div class="w3-xlarge">Module Level&nbsp;<img src="/images/level_module.svg" /></div>
            </div>
            <div class="w3-margin">
                <div class="w3-button w3-white w3-border w3-block w3-padding-16 simplisity_click" s-cmd="rocketapptheme_getdetail" s-return="#editmodalcontainer" s-after="showeditpopup" s-fields='{"selectedproject":"@moduleData.ProjectName","moduleref":"@moduleData.ModuleRef","appthemefolder":"@portalShop.AppThemeFolder","appversionfolder":"@portalShop.AppThemeVersion"}'>
                    @ResourceKey("AppThemes.edittemplates")
                </div>
                <div class="w3-small w3-left-align">
                    @foreach (var t in appTheme.ModuleTemplateList(moduleData.ModuleRef))
                    {
                        <div class="w3-margin-top"><strong>@t.Replace(moduleData.ModuleRef + "_", "")</strong></div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<div class="w3-row">
    <div class="w3-padding">
        <b>@moduleData.ModuleRef</b>
    </div>
    <div class="w3-padding">
        <b>@moduleData.AppThemeAdminFolder</b>
    </div>
</div>

<script>
    $(document).ready(function () {
       $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketapptheme', debug: false });
       $('.simplisity_loader').hide();
    });
</script>


