@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;

@{
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
    var sessionParams = Model.SessionParamsData;
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources")

<div class="w3-row w3-padding " style="z-index:2;width: 100%;">
    <div class="w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><span class="material-icons" style="max-height:16px;">menu</span></div>

    @foreach (var l in enabledlanguages)
    {
        var selectedcolor = "";
        if (sessionParams.CultureCodeEdit == l)
        {
            selectedcolor = "w3-theme-l3";
        }
        <div class="w3-button w3-padding-small w3-round @(selectedcolor) simplisity_click" s-cmd="@(Model.GetSetting("scmd"))" s-fields='@(Model.GetSetting("sfields").Replace("[LANGUAGE]", l))' language="@(l)"><img src="/DesktopModules/DNNrocket/API/images/flags/24/@(l).png" class="w3-round" /></div>
    }

</div>

<script>
    $(document).ready(function () {
        $(".changeeditlanguage").click(function () {
            var l = $(this).attr('language');
            simplisity_setSessionField('culturecodeedit', l);
            simplisity_callserver(this);
        });
    });

    // Tools dropdown menu
    function topbaractiontools() {
        var x = document.getElementById("actiontools");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

</script>

