@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketEcommerceAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Docs/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var productData = (ProductLimpet)Model.List.First();
    var docLP = 1;

    var datalist = productData.GetDocList();
    var globalSettings = new SystemGlobalData();
    var sessionParams = Model.SessionParamsData;
}

<div class="w3-row documentlistdatasection">

    <div class="w3-container">
        <div class="w3-button w3-theme w3-padding-8" onclick="$('#productdocumentselect').show();">@ButtonIcon(ButtonTypes.add)</div>
        <div class="w3-button w3-padding-8 simplisity_itemundo" s-recylebin="documentlistbin" s-return="#documentlistdata" s-removelist=".documentlist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
    </div>

        <ul id="documentlistdata" class="w3-ul">

        @foreach (var docInfo in datalist)
        {
            <li class="documentlist w3-display-container w3-padding w3-border-0" style="list-style-type: none;">
                @SortableListIndex(docInfo, docLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <span id="deletebutton@(docLP)" onclick="" class="w3-display-topright simplisity_removelistitem" s-removelist=".documentlist" s-recylebin="documentlistbin" style="cursor: pointer;">
                            @ButtonIcon(ButtonTypes.remove)
                        </span>
                        <div class="w3-row w3-padding-small">
                            @CheckBox(docInfo, "genxml/lang/genxml/checkbox/documenthiddenarticledoc", "&nbsp;" + EditFlag(sessionParams) + "&nbsp;" + ResourceKey("DNNrocket.hidden").ToString(), "class='w3-check'", false, false, docLP)
                        </div>
                        <div class="w3-row w3-padding-small">
                            @HiddenField(docInfo, "genxml/hidden/documentpatharticledoc", "", "", false, docLP)
                            <label class="">@ResourceKey("DNNrocket.document")</label>
                            @TextBox(docInfo, "genxml/textbox/documentnamearticledoc", " class='w3-input w3-border' ", "", false, docLP)
                        </div>
                    </div>
                </div>
            </li>
            docLP += 1;
        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $("#documentlistdata").sortable();
        $("#documentlistdata").disableSelection();
    });
</script>
