@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketEcommerceAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var globalSettings = new SystemGlobalData();
    var productData = (ProductLimpet)Model.List.First();
    if (productData.Info != null)
    {
        info = productData.Info;
    }
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
}

<div id="productdocumentselect" class="w3-modal">
    <div class="w3-modal-content" style="width:40%;">

        <div class="" style="height: 38.5px;">
            <span onclick="$('#productdocumentselect').hide();" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div class="" style="">
            <div class="w3-container">

                @if (productData.GetDocList().Count < portalShop.ProductDocumentLimit)
                {

                    <h2>@ResourceKey("DNNrocket.documentupload")</h2>
                    <p>@ResourceKey("DNNrocket.documentupload", "", "Msg")</p>

                    <input id="documentfileupload" class="simplisity_base64upload" s-reload="false" s-before="saveRichText" s-cmd="productadmin_adddoc" s-post="#datasection" s-list=".modellist,.imagelist,.optionlist,.documentlist,.linklist" s-fields='{"productid":"@productData.ProductId"}' type="file" name="file[]" multiple style="display:none;">
                    <div class="w3-row w3-margin-bottom">
                        <span class="w3-col m12 w3-button w3-teal fileuploadaction" onclick="$('#productdocumentselect').hide();$('#documentfileupload').trigger('click');">@ButtonText(ButtonTypes.upload)</span>
                    </div>

                    <div id="simplisity-file-progress-bar" class="w3-modal w3-padding" style="z-index:9999;background-color:grey">
                        <div class="w3-modal-content w3-card-4  w3-display-middle w3-padding" style="width: 60%;">
                            <div id="progessaction">@ResourceKey("DNNrocket.documentupload")</div>
                            <div class=" w3-row w3-light-grey">
                                <div class="w3-blue simplisity-file-progress-bar" style="width:0%;height:24px;">0%</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h2>@ResourceKey("DNNrocket.documentlimit")</h2>
                    <p>@ResourceKey("DNNrocket.documentlimit", "", "Msg")</p>
                }


            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

    });

</script>