@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var propertyDataList = (PropertyLimpetList)Model.List.First();
    var propertyList = propertyDataList.GetPropertyList();
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var shopSettings = (ShopSettingsLimpet)Model.GetDataObject("shopsettings");
}

@{
    var sFieldDict = new Dictionary<string, string>();
}
@RenderLanguageSelector("propertyadmin_editlist", sFieldDict, appThemeSystem, Model)

<div class='w3-animate-opacity w3-padding'>

    @RenderTemplate("PropertySearch.cshtml", appThemeSystem, Model, true)

    <div id="datalistsection" class="w3-padding">

        <table class="w3-table w3-bordered w3-hoverable">
            <thead>
                <tr>
                    <th>@ResourceKey("RE.name")</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (PropertyLimpet propertyData in propertyList)
            {
                <tr class=" simplisity_click" s-cmd="propertyadmin_edit" s-fields='{"propertyid":"@propertyData.PropertyId","track":"true"}' style="cursor:pointer;">
                    <td><div class="w3-tiny">@propertyData.Ref</div><b>@propertyData.Name</b></td>
                    <td>
                        @foreach (var g in propertyData.PropertyGroups())
                        {
                        <span>@(g)&nbsp;</span>
                        }
                    </td>
                </tr>
            }
        </table>

        @RenderTemplate("PropertyPaging.cshtml", appThemeSystem, Model, true)

    </div>

</div>

<script>
    $(document).ready(function () {
        selectMenu('propertyadmin');
    });
</script>
