@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var propertyData = (PropertyLimpet)Model.List.First();
    if (propertyData.Info != null)
    {
        info = propertyData.Info;
    }
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var sessionParams = Model.SessionParamsData;
    var shopSettings = (ShopSettingsLimpet)Model.GetDataObject("shopsettings");
}

@RenderLanguageSelector("propertyadmin_edit", "{\"propertyid\":\"" + propertyData.PropertyId + "\"}", appThemeSystem, Model)

<div class='w3-animate-opacity w3-padding'>

    <div class="w3-row w3-padding">
        <button class="w3-button simplisity_click" s-cmd="propertyadmin_editlist" s-fields=''>@ButtonIcon(ButtonTypes.back)</button>
        <button class="w3-button w3-theme-action simplisity_click savepropertybutton" s-list=".imagepropertylist,.articlelist" s-cmd="propertyadmin_save" s-post="#datapropertysection" s-fields='{"propertyid":"@info.ItemID"}'>@ButtonText(ButtonTypes.save)</button>
        <button class="w3-button w3-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="propertyadmin_delete" s-fields='{"propertyid":"@info.ItemID"}' title='@ResourceKey("DNNrocket.delete")'>@ButtonText(ButtonTypes.delete)</button>
    </div>

    @if (Model.GetSettingBool("duplicateref"))
    {
    <div class="w3-row w3-padding">
        <div class="w3-row w3-padding w3-pale-red">
            <span class="material-icons">
                warning
            </span>
            <span>@ResourceKey("RE.duplicateref")</span>
        </div>
    </div>        
    }

    <div class="w3-row">
        <div onclick="openPropertyTab('property');" class="w3-quarter w3-hover-light-grey w3-center">
            <div class="propertybutton cattablink w3-bottombar w3-border-black w3-large w3-padding">
                <span class="material-icons">
                    library_books
                </span>
                @ResourceKey("RE.property")
            </div>
        </div>
        <div onclick="openPropertyTab('articles');" class="w3-quarter w3-hover-light-grey w3-center">
            <div class="articlesbutton cattablink  w3-large w3-padding">
                <span class="material-icons">
                    qr_code
                </span>
                @ResourceKey("RE.products")
            </div>
        </div>
    </div>


    <div id="datapropertysection" class="">
        <div id="property" class="propertytab">
            <!-- The Detail-->
            <div id="detailDisplay" class="w3-container">

                <div class='w3-row'>
                    <div class='w3-col m2 w3-padding'>
                        <label>@ResourceKey("RE.ref")</label>
                        @{
                            var disabledref = "";
                            if (propertyData.Ref != "")
                            {
                                disabledref = " disabled ";
                            }
                        }
                        @TextBox(info, "genxml/textbox/ref", " class='w3-input w3-border' autocomplete='off' " + disabledref, "", false, 0)
                    </div>
                    <div class='w3-col m10 w3-padding'>
                        <label>@ResourceKey("RE.name")</label>		&nbsp;@EditFlag(sessionParams)
                        @TextBox(info, "genxml/lang/genxml/textbox/name", " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                    </div>
                </div>
                <div class='w3-row w3-padding'>
                    <label>@ResourceKey("RE.group")</label>
                    @{
                        var gDict = new Dictionary<string, string>();
                        foreach (var g in shopSettings.PropertyGroups.Split(','))
                        {
                            gDict.Add(g.Trim(' '), g.Trim(' '));
                        }
                    }
                    @CheckBoxList(info, "genxml/checkboxlist/group", gDict, " class=' rocket-checkboxlist ' ")
                </div>

                <div class='w3-row w3-padding'>
                    <label>@ResourceKey("RE.summary")</label>&nbsp;@EditFlag(sessionParams)
                    @TextArea(info, "genxml/lang/genxml/textbox/summary", " class='w3-input w3-border' autocomplete='off'  rows='4' ", "", true, 0)
                </div>
            </div>

            <div id="imgs" class='w3-row sectionname' style="display:none">
                @RenderTemplate("PropertyImages.cshtml", appThemeSystem, Model, true)
            </div>

            <div class="w3-row">
                @RenderTemplate("propertyImageSelect.cshtml", appThemeSystem, Model, true)
            </div>

            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container w3-margin-top">
                    <div class="w3-right">
                        @RenderXml(info)
                    </div>
                </div>
            }

        </div>

        <div id="articles" class="propertytab" style="display:none">
            <div id="datalist2" class="w3-row w3-padding  w3-margin-top ">
                <table class="w3-table w3-bordered">
                    <tr>
                        <th>@ResourceKey("DNNrocket.name")</th>
                        <th style="width: 64px;"></th>
                    </tr>
                    @{
                        var lp1 = 0;
                    }
                    @foreach (SimplisityInfo articleInfo in propertyData.GetArticlesInfo())
                    {
                        lp1 += 1;
                        <tr>
                            <td>
                                <div class="">
                                    <div class="w3-tiny">@articleInfo.GetXmlProperty("genxml/textbox/productref")</div>
                                    <b>@articleInfo.GetXmlProperty("genxml/lang/genxml/textbox/productname")</b>                                    
                                </div>
                            </td>
                            <td>
                                <div class="w3-button w3-right simplisity_click " s-cmd="propertyadmin_removeproduct" s-fields='{"productid":"@(articleInfo.ItemID)","propertyid":"@(propertyData.PropertyId)"}'>
                                    @ButtonIcon(ButtonTypes.remove)
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="w3-padding">
    <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
</div>



@RenderTemplate("PropertySelect.cshtml", appThemeSystem, Model, true)

<script>
    $(document).ready(function () {

        selectMenu('propertyadmin');
        openPropertyTab('property');

        $('#propertykeywords').tagEditor({
            delimiter: ', ', /* space and comma */
            placeholder: '@ResourceKey("RE.keywords") ...',
            removeDuplicates: false,
        });

    });

    function searchFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("searchtext");
        filter = input.value.toUpperCase();
        ul = document.getElementById("datalist");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function openPropertyTab(propertytab) {

        if ((typeof propertytab === 'undefined') || propertytab === '') {
            propertytab = 'property';
        }

        var i, x, tablinks;
        x = document.getElementsByClassName("propertytab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("cattablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-bottombar", "");
            tablinks[i].className = tablinks[i].className.replace(" w3-border-black", "");
        }
        document.getElementById(propertytab).style.display = "block";
        $('.' + propertytab + 'button').addClass('w3-bottombar');
        $('.' + propertytab + 'button').addClass('w3-border-black');
    }

</script>



