@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{

    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.List.First();
    var moduleRef = Model.SessionParamsData.Get("moduleref");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var appThemeData = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var info = new SimplisityInfo(remoteModule.Record);
    var projectData = new AppThemeProjectLimpet();
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var shopSettings = (ShopSettingsLimpet)Model.GetDataObject("shopsettings");
    var groupDict = shopSettings.GetPropertyGroups();

    var selectedProject = remoteModule.ProjectName;
    if (selectedProject == "" && projectData.ActiveList().Count > 0)
    {
        selectedProject = projectData.DefaultProjectName();
    }

}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



<style>
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 40px;
        line-height: 40px;
    }
</style>


<div id="a-selectapptheme" class="w3-container w3-margin w3-padding">

    <div class="w3-quarter w3-hide-small">&nbsp;</div>

    <div class="w3-half">


        <div class="w3-row w3-padding">
            <div class="w3-large">ModuleRef</div>
            <div class="w3-light-grey w3-border w3-input">@moduleRef</div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-large">@ResourceKey("RE.name")</div>
            @TextBox(new SimplisityInfo(remoteModule.Record), "genxml/remote/modulename", " class='w3-input w3-border ' ", "")
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-large">@ResourceKey("RE.appthemeprojectname")</div>
            @DropDownList(new SimplisityInfo(), "genxml/remote/projectname", projectData.ActiveList(), " name='projectname' class='w3-input w3-border'", selectedProject)
        </div>

        <div class="w3-row">
            <div class="w3-col m10 w3-padding">
                <div class="w3-large">@ResourceKey("RE.viewapptheme")</div>
                <select id="appthemeview" s-xpath="genxml/remote/appthemeview" s-update="save" class="w3-input " style="width:100%;">
                    <option value="" versionfolder=""></option>
                    @foreach (var appTheme in appThemeList.List)
                    {
                        var selectedvalue2 = "";
                        if (remoteModule.AppThemeViewFolder == appTheme.AppThemeFolder)
                        {
                            selectedvalue2 = "selected";
                        }
                        <option value="@appTheme.AppThemeFolder" @selectedvalue2>@appTheme.Name</option>
                    }
                </select>
            </div>
            <div class="w3-col m2 w3-padding">
                <div class="w3-large">@ResourceKey("DNNrocket.version")</div>
                <div id="appthemeviewversiondisplay" class="w3-input w3-border w3-light-grey simplisity_click" s-before="activateVersionAction" s-after="popupversionselect" s-cmd='remote_getappthemeversions' s-post='#a-selectapptheme' s-return='#versionselectlist' s-fields='{"moduleref":"@(moduleRef)","systemkey":"rocketecommerceapi","ctrl":"appthemeviewversion"}'>@info.GetXmlProperty("genxml/remote/appthemeviewversion")&nbsp;</div>
                @HiddenField(info, "genxml/remote/appthemeviewversion")
            </div>
        </div>


        <div class="w3-row  w3-padding">
            @{
                var dataDictionary = new Dictionary<string, string>();
                dataDictionary.Add("remote_publicview", "productview");
                dataDictionary.Add("remote_productdetail", "productdetail");
                dataDictionary.Add("remote_minicart", "minicart");
                dataDictionary.Add("remote_cartlist", "cartlist");
                dataDictionary.Add("remote_cartdetails", "cartdetails");
                dataDictionary.Add("remote_cartcontact", "cartcontact");
                dataDictionary.Add("remote_cartsummary", "cartsummary");
                dataDictionary.Add("remote_cartpayment", "cartpayment");
                dataDictionary.Add("", "");
            }

            <div class="w3-large">Cmd</div>
            @DropDownList(info, "genxml/select/cmd", dataDictionary, " name='cmd' class='w3-input w3-border' ", "remote_publiclist")
        </div>
            <div class="w3-half w3-padding optiondata remote_publicviewoption">
                <div class="w3-large">@ResourceKey("RC.template")</div>
                @TextBox(new SimplisityInfo(remoteModule.Record), "genxml/remote/template", " class='w3-input w3-border ' ", "view.cshtml")
            </div>


        <div class="w3-row  w3-padding optiondata remote_publicviewoption">
            @{
                    var catName = "";
                    if (info.GetXmlPropertyInt("genxml/remote/categoryid") > 0)
                    {
                        var catData = new CategoryLimpet(remoteModule.PortalId, info.GetXmlPropertyInt("genxml/remote/categoryid"), sessionParams.CultureCode);
                        catName = catData.Ref + " - " + catData.Name;
                    }
            }
            <div class="w3-row">
                <div class="w3-col m10">
                    <div class="w3-large">@ResourceKey("RE.defaultcategory")</div>
                    <span class="w3-col m5 w3-border w3-light-grey w3-padding a-catname" style="height:40px;">@catName</span>
                    <span class="w3-col m2 w3-button w3-theme " onclick="$('#categoryselect').show();" style="cursor: pointer; width: 64px;">@ButtonIcon(ButtonTypes.tree)</span>
                    <span>
                        &nbsp;@CheckBox(info, "genxml/remote/staticlist", "&nbsp;" + ResourceKey("RE.staticlist").ToString(), " class='w3-check' ")
                    </span>
                </div>
                <div class="w3-col m2">
                    <div class="w3-large">@ResourceKey("DNNrocket.pagesize")</div>
                    @TextBox(new SimplisityInfo(remoteModule.Record), "genxml/remote/pagesize", " class='w3-input w3-border ' ", "0")
                </div>
                @HiddenField(info, "genxml/remote/categoryid")
            </div>

            <div class="w3-row w3-margin-top  w3-margin-bottom">
                <div class="w3-large">@ResourceKey("RE.propertygroups")</div>
                @CheckBoxList(info, "genxml/checkboxlist/group", groupDict," class='' ")
            </div>
           

        </div>

        <div class="w3-row w3-padding optiondata remote_publicviewoption">
            <div class="w3-large">@ResourceKey("RE.listpageurl")</div>
            @foreach (var l in DNNrocketUtils.GetCultureCodeList())
            {
        <div class="w3-row">
            <span class="w3-col m10">
                @TextBox(new SimplisityInfo(remoteModule.Record), "genxml/remote/listpageurl" + l, " class='w3-input w3-border ' ", "")
            </span>
            <span class="w3-col m2">&nbsp;@DisplayEngineFlag(sessionParams.EngineURL, l)</span>
        </div>
            }

        </div>


        <div class="w3-row w3-padding optiondata remote_publicviewoption">
            <div class="w3-large">@ResourceKey("RE.detailpageurl")</div>
            @foreach (var l in DNNrocketUtils.GetCultureCodeList())
            {
        <div class="w3-row">
            <span class="w3-col m10">
                @TextBox(new SimplisityInfo(remoteModule.Record), "genxml/remote/detailpageurl" + l, " class='w3-input w3-border ' ", "")
            </span>
            <span class="w3-col m2">&nbsp;@DisplayEngineFlag(sessionParams.EngineURL, l)</span>
        </div>
            }

        </div>




    </div>


    <div class="w3-quarter w3-hide-small">&nbsp;</div>

</div>

<div class="w3-row w3-padding w3-center">
    <div class="w3-button w3-green savebutton simplisity_click" s-cmd="remote_settingssave" s-reload="true" s-post="#a-selectapptheme" s-fields='{"moduleref":"@(moduleRef)"}'>@ButtonText(ButtonTypes.save)</div>
</div>

<div class="w3-row">
    @RenderTemplate("RemoteCategories.cshtml", appThemeSystem, Model, true)
</div>

<div id="versionselect" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4" style="width:240px;">
        <div style="height:40px;">
            <span onclick="document.getElementById('versionselect').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div id="versionselectlist">
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#appthemeview').select2();
        activateVersionAction();
        $('#appthemeview').on('change.select2', function (e) {
            $('#appthemeversion').val('');
            $('#appthemeversiondisplay').html('&nbsp;');
            $('#appthemeversiondisplay').trigger('click');
        });

        $('#projectname').off("change");
        $('#projectname').change(function () {
            simplisity_setSessionField("projectname", $(this).val());
            $('.savebutton').trigger('click');
            return false;
        });

    });

    function activateVersionAction() {
        if ($('#appthemeview').val() == "") {
            $('#appthemeversiondisplay').attr('s-stop', 'stop');
        } else {
            $('#appthemeversiondisplay').removeAttr("s-stop");
        }
    }

    function popupversionselect() {
        $('#versionselect').show();
    }

</script>
