@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketAppTheme/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var portalShop = (PortalShopLimpet)Model.List.First();
    var info = portalShop.Info;
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeList = new AppThemeDataList(portalShop.ProjectName, systemData.SystemKey);

    var projectData = new AppThemeProjectLimpet();
    var selectedProject = portalShop.ProjectName;
    if (selectedProject == "" && projectData.ActiveList().Count > 0)
    {
        selectedProject = projectData.DefaultProjectName();
    }

}
<style>
    .checkboxlist input {
        width: 24px;
        height: 24px;
        position: relative;
        top: 6px;
    }
    .checkboxlist label:after {
        content: "\a";
        white-space: pre;
    }
</style>

<div id="sidemenugeneraldata" class="w3-container a-panelsidemenu">

    <div class="w3-row w3-padding">
        <div class="w3-col m12">
            <div class="w3-row">
                <div class="w3-half">
                    <div class="w3-row w3-padding">
                        <label class="">@ResourceKey("RE.securitykey")</label><br />
                        @TextBox(info, "genxml/securitykey", "class='w3-input w3-border' ", GeneralUtils.GetGuidKey(), false)
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m6  w3-padding" style="">
                            <label class="">@ResourceKey("RE.currencyculturecode")</label>
                            @DropDownCultureCodeList(info, "genxml/currencyculturecode", "class='w3-input w3-border'", DNNrocketUtils.GetEditCulture())
                        </div>
                        <div class="w3-col m6 w3-padding">
                            <label class="">@ResourceKey("RE.currencycode")</label>
                            @TextBox(info, "genxml/currencycode", "class='w3-input w3-border' disabled ", "", false)
                        </div>
                    </div>
                    <div class="w3-row w3-padding">
                        <label class="">@ResourceKey("RE.checkouttype")</label>
                        @DropDownList(info, "genxml/checkouttype", "0,1,2,3", ResourceKey("RE.checkouttypetext").ToString(), "class='w3-input w3-border '", "standard")
                        @TextBox(info, "genxml/checkouttemplate", "class='w3-input w3-border' disabled", "0_CartDetails.cshtml")
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m5 w3-padding">
                            <div class="">AppTheme Project</div>
                            @DropDownList(info, "genxml/select/selectedprojectname", projectData.ActiveList(), " name='selectedprojectname' class='w3-input w3-border simplisity_change' s-dropdownlist='#apptheme' s-cmd='rocketapptheme_appthemejson' s-fields='{\"selectedsystemkey\":\"" + portalShop.SystemKey + "\",\"addempty\":\"true\"}' s-after='projectdropdownreturn'", selectedProject)
                        </div>
                        <div class="w3-col m5 w3-padding">
                            <div class="">AppTheme</div>
                            @DropDownList(info, "genxml/select/apptheme", appThemeList.NameListDict(), " name='selectedapptheme' class='w3-input w3-border  simplisity_change' s-dropdownlist='#appthemeversion' s-cmd='rocketapptheme_versionjson' s-fields='{\"selectedsystemkey\":\"" + portalShop.SystemKey + "\"}'", "")
                        </div>
                        <div class="w3-col m2 w3-padding">
                            <div class="">@ResourceKey("DNNrocket.version")</div>
                            @DropDownList(info, "genxml/select/appthemeversion", "1.0","1.0", " name='selectedversion' class='w3-input w3-border'", "1.0")
                        </div>
                    </div>
                    <div class="w3-row w3-padding">
                        @CheckBox(info,"genxml/checkbox/manualcategoryorderby","&nbsp;" + ResourceKey("RE.manualcategoryorderby").ToString()," class='w3-check' ", true)
                    </div>
                </div>
                <div class="w3-half w3-padding">
                        <div class="w3-half w3-padding">
                            <label class="">@ResourceKey("RE.productdata")</label><br />
                            <i>
                                @ResourceKey("RE.productdata", "", "Help")
                            </i>
                            @CheckBoxList(info, "genxml/productdata", "0,1,2,3,4,5,6,7,9,8", ResourceKey("RE.productdatasection").ToString(), "class='checkboxlist'", true)
                        </div>
                        <div class="w3-half w3-padding">
                            @{
                                var datadictionary = new Dictionary<string, string>();
                            }
                            @foreach (var iface in systemData.GetInterfaceList())
                            {
                                if (iface.IsOnMenu)
                                {
                                    var chkText = ResourceKey("RE." + iface.InterfaceKey).ToString();
                                    if (chkText == "")
                                    {
                                        chkText = iface.InterfaceKey;
                                    }
                                    datadictionary.Add(iface.InterfaceKey, chkText + "&nbsp;&nbsp;&nbsp;");
                                }
                            }
                            <label class="">@ResourceKey("RE.activeadminmenu")</label><br />
                            <i>
                                @ResourceKey("RE.activeadminmenu", "", "Help")
                            </i>
                            @CheckBoxList(info, "genxml/activeadminmenu", datadictionary, "class='checkboxlist'", true)
                        </div>
                    </div>


                </div>

        </div>
    </div>

    <div class="w3-row">
        <div class="w3-row">
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.maxproducts")</label>
                @TextBox(info, "genxml/maxproducts", "class='w3-input w3-border ' style='width:64px;' ", "100", false)
            </div>
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.productimagelimit")</label>
                @TextBox(info, "genxml/productimagelimit", "class='w3-input w3-border ' style='width:64px;' ", "10", false)
            </div>
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.productdocumentlimit")</label>
                @TextBox(info, "genxml/productdocumentlimit", "class='w3-input w3-border ' style='width:64px;' ", "10", false)
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.productmodellimit")</label>
                @TextBox(info, "genxml/productmodellimit", "class='w3-bar-item w3-input w3-border' style='width:64px;' ", "10", false)
            </div>
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.productoptionlimit")</label>
                @TextBox(info, "genxml/productoptionlimit", "class='w3-input w3-border ' style='width:64px;' ", "10", false)
            </div>
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.productlinklimit")</label>
                @TextBox(info, "genxml/productlinklimit", "class='w3-input w3-border ' style='width:64px;' ", "10", false)
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-quarter w3-padding">
                <label class="">@ResourceKey("DNNrocket.active")</label>
                @CheckBox(info, "genxml/active", "", "class='w3-input w3-border w3-check'", true)
            </div>
            <div class="w3-quarter w3-padding">
                <label class="">@ResourceKey("DNNrocket.emailon")</label>
                @CheckBox(info, "genxml/emailon", "", "class='w3-input w3-border w3-check'", true)
            </div>
            <div class="w3-quarter w3-padding">
                <label class="">Debug Mode</label>
                @CheckBox(info, "genxml/debugmode", "", "class='w3-input w3-border w3-check'", false)
            </div>
        </div>
    </div>

</div>

<div class="w3-row w3-padding">
    <label>Standard HTML code</label>
    <div class="w3-row w3-code w3-margin-bottom">
        &lt;link rel="stylesheet" href="@(portalData.EngineUrlWithProtocol)/DesktopModules/DNNrocket/Simplisity/css/simplisity.css" charset="utf-8"&gt;<br />
        &lt;script type="text/javascript" src="@(portalData.EngineUrlWithProtocol)/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"&gt;&lt;/script&gt;<br />
        <br />
        &lt;div id="simplisity_startpanel" class="w3-row simplisity_panel" s-cmd="remote_publicview"&gt;<br />
        &nbsp;&lt;div class="simplisity_loader"&gt;<br />
        &nbsp;&nbsp;&lt;span class=" simplisity_loader_inner"&gt;&lt;/span&gt;<br />
        &nbsp;&lt;/div&gt;<br />
        &lt;/div&gt;<br />
        &lt;script&gt;<br />
        $(document).ready(function () {<br />
        &nbsp;$(document).simplisityStartUp('@(portalData.EngineUrlWithProtocol)/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: '@(systemData.SystemKey)', debug: false });<br />
        });<br />
        &lt;/script&gt;<br />
    </div>
    <label>Minimum HTML code <i>(If simplisity.js is already included on the page.)</i></label>
    <div class="w3-row w3-code">
        &lt;div id="simplisity_startpanel" class="w3-row simplisity_panel" s-cmd="remote_publicview" &gt;&lt;/div&gt;<br />
        &lt;script&gt;<br />
        $(document).ready(function () {<br />
        &nbsp;$(document).simplisityStartUp('@(portalData.EngineUrlWithProtocol)/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: '@(systemData.SystemKey)', debug: false });<br />
        });<br />
        &lt;/script&gt;<br />
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        rpadmin.moveToTop('#systemmodal');

        @if (portalShop.AppThemeFolder == "")
        {
        <text>
                $('#selectedprojectname').trigger('change');
        </text>
        }


        $("#checkouttype").change(function () {
            if ($(this).val() == '0') {
                $('#checkouttemplate').val('0_CartDetails.cshtml');
                $('#checkouttemplate').attr("disabled", "disabled");
            }
            if ($(this).val() == '1') {
                $('#checkouttemplate').val('1_CartDetails.cshtml');
                $('#checkouttemplate').attr("disabled", "disabled");
            }
            if ($(this).val() == '2') {
                $('#checkouttemplate').val('2_CartDetails.cshtml');
                $('#checkouttemplate').attr("disabled", "disabled");
            }
            if ($(this).val() == '3') {
                $('#checkouttemplate').removeAttr("disabled");
            }
        });
        
    });
    function projectdropdownreturn() {
        jQuery("#appthemeversion").html('');
    }

</script>
