@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var portalShop = (PortalShopLimpet)Model.List.First();
    var info = portalShop.Info;
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    DNNrocketUtils.SetCurrentCulture(DNNrocketUtils.GetEditCulture());
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
}

@{
    var sFieldDict = new Dictionary<string, string>();
}
<span id="languagebar" style="display:none;">
    @RenderLanguageSelector("rocketsystem_edit", sFieldDict, appThemeSystem, Model)
</span>

<div class='w3-animate-opacity'>

<div id="a-setupbuttons" class="w3-bar w3-padding">
    <button class="w3-padding w3-button w3-theme-action simplisity_click" s-return="#setupdata" s-cmd="portalshops_save" s-list=".sqlorderbyproduct,.settingsdata,.linklist,.paymentprovidermethod,.shippingprovidermethod,.taxprovidermethod" s-post="#servicesettings" s-fields='{"systemkey":"@portalShop.SystemKey","portalid":"@portalShop.PortalId"}'>@ButtonText(ButtonTypes.save)</button>
</div>

<div id="servicesettings" class="w3-row">
    @RenderTemplate("RocketSystemGeneral.cshtml", appThemeSystem, Model, true)
    @RenderTemplate("RocketSystemConfig.cshtml", appThemeSystem, Model, true)
    @RenderTemplate("RocketSystemProviders.cshtml", appThemeSystem, Model, true)
    @RenderTemplate("RocketSystemTools.cshtml", appThemeSystem, Model, true)
</div>


<div>
    @if (UserUtils.IsInRole("Administrator"))
    {
        <div class="w3-container">
            <div class="w3-right">
                @RenderXml(portalShop.Info)
            </div>
        </div>
    }
</div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        if (typeof (selectMenu) === "function" || typeof (selectMenu) === "object") {
            selectMenu('rocketecommerceadmin');
        }

        if ('@(Model.SessionParamsData.Get("sysadmin"))' == '')
        {
            $('#languagebar').show();
        }
    });

</script>
