@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var portalShop = (PortalShopLimpet)Model.List.First();
    var info = portalShop.Info;
}

<div id="sidemenutoolsdata" class="w3-container a-panelsidemenu" style="display:none;">

    <div class="w3-container">

        <div class="w3-row w3-margin">
            <div class="w3-quarter w3-padding">
                <div class="w3-button w3-blue simplisity_confirmclick" s-confirm="@ResourceKey("Help.validateshop") ?" s-cmd="portalshops_validateshop" s-return='#completedmodelmsgreturn' s-fields='{"systemkey":"rocketecommerceapi","portalid":"@portalShop.PortalId"}' style="width:100%;">@ResourceKey("Help.validateshop")</div>
            </div>
            <div class="w3-threequarter">
                @ResourceKey("Help.validateshop", "", "Help")
            </div>
        </div>
        <div class="w3-row w3-margin w3-hide">
            <div class="w3-quarter w3-padding">
                <div class="w3-button w3-orange simplisity_confirmclick" s-confirm="@ResourceKey("Help.resetportalshop") ?" s-cmd="portalshops_reset" s-fields='{"portalid":"@portalShop.PortalId"}' style="width:100%;"><i class="fas fa-recycle fa-fw fa-lg"></i>&nbsp;@ResourceKey("Help.resetportalshop")</div>
            </div>
            <div class="w3-threequarter">
                @ResourceKey("Help.resetportalshop", "", "Help")
            </div>
        </div>
        <div class="w3-row w3-margin">
            <div class="w3-quarter w3-padding">
                <label>@ResourceKey("Help.schedulerrunhours")</label>
                @TextBox(info, "genxml/schedulerrunhours", "class='w3-input w3-border' maxlength='4'  ", "24")
            </div>
            <div class="w3-threequarter">
                @ResourceKey("Help.schedulerrunhours", "", "Help")
            </div>
        </div>

        @{
            var lInfo = new SimplisityInfo();
            lInfo.PortalId = portalShop.PortalId;
        }
        <div class="w3-row w3-margin a-copylanguage">
            <div class="w3-quarter w3-padding">
                <label>@ResourceKey("DNNrocket.source")</label>
                @DropDownCultureCodeList(lInfo,"genxml/sourcelanguage"," class='w3-input w3-border'")
            </div>
            <div class="w3-quarter w3-padding">
                <label>@ResourceKey("DNNrocket.destination")</label>
                @DropDownCultureCodeList(lInfo,"genxml/destlanguage"," class='w3-input w3-border'")
            </div>
            <div class="w3-twoquarter w3-padding">
                <label>@ResourceKey("DNNrocket.overwrite")</label><br/>
                @CheckBox(lInfo,"genxml/overwritelang", "","class='w3-check' style='width:80px;'")
                &nbsp;
                <span class="w3-button w3-blue simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.copy") ?" s-return="#copyreturn" s-cmd="portalshops_copylanguage" s-post=".a-copylanguage" s-return='#completedmodelmsgreturn' s-fields='{"systemkey":"rocketecommerceapi","portalid":"@portalShop.PortalId"}'>@ResourceKey("DNNrocket.copy")</span>
            </div>
        </div>
        <div id="copyreturn" class="w3-xlarge w3-pale-blue w3-center">

        </div>
    </div>
</div>