@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var portalShop = (PortalShopLimpet)Model.List.First();
    var info = portalShop.Info;
}


<div id="sidemenusettingsdata" class="w3-container a-panelsidemenu" >

    <div class="w3-container">
        <div class="w3-margin">
            <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="portalshops_addsetting" s-return="#systemcontainer" s-fields='{"systemkey":"@portalShop.SystemKey","sitekey":"@portalShop.SiteKey"}'>@ButtonText(ButtonTypes.add)</a>
            <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="settingsbin" s-return="#settings" s-removelist=".settingsdata" style="display: none;">@ButtonText(ButtonTypes.undo)</a>
        </div>

        <div class="w3-row w3-margin">

            <div class="w3-row  w3-theme-l4 w3-padding">
                <div class="w3-col m3">@ResourceKey("system.key")</div>
                <div class="w3-col m8">@ResourceKey("system.value")</div>
                <div class="w3-col m1" style="width:20px;"></div>
            </div>

            <ul id="settings" class="w3-ul">

                @{
                    var lp3 = 0;
                }
                @foreach (var i in info.GetList("settingsdata"))
                {
                    lp3 += 1;
                    <li class="w3-row w3-padding-small settingsdata">
                        <div class="w3-col m3 w3-padding-small">
                            @TextBox(i, "genxml/textbox/key", "class='w3-input w3-border' maxlength='250' ", "", false, lp3)
                        </div>
                        <div class="w3-col m8 w3-padding-small">
                            @TextBox(i, "genxml/textbox/value", "class='w3-input w3-border' maxlength='500' ", "", false, lp3)
                        </div>
                        <div class="w3-col m1 w3-padding-small" style="width:20px;">
                            <a href="javascript:void(0)" class="simplisity_removelistitem" s-removelist=".settingsdata" s-recylebin="settingsbin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>

</div>
