@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@AssigDataModel(Model);

@{
    info = shopSettings.Info;
    var sFieldDict = new Dictionary<string, string>();
}
@RenderLanguageSelector("settingsadmin_edit", sFieldDict, appThemeSystem, Model)

<div id="" class="w3-display-container w3-animate-opacity">

    <div class="w3-col m2 w3-tiny w3-right w3-right-align w3-padding">PortalId:&nbsp;@portalShop.PortalId</div>
    <div class="w3-bar w3-margin">
        <div class="w3-bar-item w3-button w3-theme-action simplisity_click" s-cmd="settingsadmin_save" s-list=".grouplist" s-post="#settingscontent">@ButtonText(ButtonTypes.save)</div>
    </div>

    <div id="settingscontent" class="w3-margin w3-border-bottom">

        <div class="w3-row w3-padding">
            <div class="w3-large"><b>@ResourceKey("DNNrocket.settings")</b></div>
        </div>

        <div class="w3-row portaldatasection">
            <div class="w3-third w3-padding">
                <label>@ResourceKey("RE.defaultcategory")&nbsp;</label>
                <div class="w3-row">
                    <span class="w3-col m9 w3-border w3-light-grey w3-padding" style="height:40px;">@defaultCategory.Name</span>
                    <span class="w3-col m3 w3-button w3-theme parentcategoryselect" onclick="$('#categoryselect').show();" style="width:64px;">@ButtonIcon(ButtonTypes.tree)</span>
                </div>
                @RenderTemplate("CategoryDefaultSelect.cshtml", appThemeSystem, Model, true)
            </div>
            <div class="w3-third w3-padding">
                <label class="">@ResourceKey("RE.eventname")</label>
                @TextBox(info, "genxml/textbox/eventname", "class='w3-input w3-border' maxlength='200' autocomplete='off' ", "")
            </div>
        </div>

        <div class="w3-row w3-padding">
        </div>

        <div class="w3-row w3-padding grouplistdatasection">
            <label>@ResourceKey("RE.propertygroups")</label>

            <div class="w3-bar-block">
                <div class="w3-button w3-padding-small w3-theme-action simplisity_click" s-post="#settingscontent" s-list=".grouplist" s-cmd="settingsadmin_addgroup">@ButtonIcon(ButtonTypes.add)&nbsp;@ResourceKey("RC.group")</div>
                <div class="w3-button w3-pale-yellow w3-padding-small simplisity_itemundo" s-recylebin="grouplistbin" s-return="#grouplistdata" s-removelist=".grouplist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
            </div>

            <ul id="grouplistdata" class="w3-ul">
                @{
                    var groupLP = 0;
                }
                @foreach (var groupInfo in info.GetList("grouplist"))
                {
                    <li class="grouplist w3-display-container w3-border-0" style="list-style-type: none;">
                        @SortableListIndex(groupInfo, groupLP)

                        <div class="w3-display-container w3-padding w3-card">
                            <div class="w3-row ">
                                <div class="w3-col m4 w3-padding">
                                    <label>@ResourceKey("DNNrocket.ref")</label>
                                    @TextBox(groupInfo, "genxml/textbox/ref", " class='w3-input w3-border' autocomplete='off'", "", false, groupLP)
                                </div>
                                <div class="w3-col m8 w3-padding">
                                    <label>@ResourceKey("DNNrocket.text")</label>&nbsp;@EditFlag(sessionParams)
                                    @TextBox(groupInfo, "genxml/lang/genxml/textbox/name", " class='w3-input w3-border' autocomplete='off'", "", true, groupLP)
                                </div>
                            </div>
                            <div class="simplisity_removelistitem w3-display-topright" s-removelist=".grouplist" s-recylebin="grouplistbin" style="cursor: pointer;">
                                @ButtonIcon(ButtonTypes.remove)
                            </div>
                        </div>
                    </li>
                    groupLP += 1;
                }
            </ul>

        </div>

        <div class="w3-row w3-padding">
            <label>@ResourceKey("RE.eventlist")</label><br/>
            <div class="w3-light-grey" style="min-height:40px;">@shopSettings.EventCSV</div>
        </div>

        <div class="w3-row w3-padding">
            <label>@ResourceKey("RE.manualorderby")</label><br/>
            <div class="w3-small">
                @CheckBox(info,"genxml/checkbox/manualorderby","&nbsp;" + ResourceKey("RE.manualorderby","","Help").ToString()," class='w3-check' ", true)
            </div>
        </div>
        <div class="w3-row w3-padding">
            <label>@ResourceKey("RE.manualcategoryorderby")</label><br/>
            <div class="w3-small">
            @CheckBox(info,"genxml/checkbox/manualcategoryorderby","&nbsp;" + ResourceKey("RE.manualcategoryorderby","","Help").ToString()," class='w3-check' ", true)
            </div>
        </div>
        <div class="w3-row w3-padding">
            <label>@ResourceKey("RE.incategoryfilter")</label><br/>
            <div class="w3-small">
            @CheckBox(info,"genxml/checkbox/incategoryfilter","&nbsp;" + ResourceKey("RE.incategoryfilter","","Help").ToString()," class='w3-check' ", true)
            </div>
        </div>

    </div>
</div>

<div>
    @RenderXml(info)
</div>

<script>

    $(document).ready(function () {

        selectMenu('settingsadmin');

        $('.action_tageditor').tagEditor({
            delimiter: ', ', /* space and comma */
            removeDuplicates: true,
            forceLowercase: false,
        });
        $('.tag-editor').height(100)
    });

    function docopyclipboard(element) {        
        rcadmin.CopyTextToClipboard(element);
    }

</script>



