@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketPortal.Components;
@using Rocket.AppThemes.Components;
@using System.Web;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var articleData = (ProductLimpet)Model.GetDataObject("productdata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var info = new SimplisityInfo(moduleData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();
    var userParams = new UserParams("ModuleID:" + sessionParams.ModuleId);
    var adminpanelurl = userParams.Get("adminpanelurl");
}

<div id="a-editbuttons-@(moduleData.ModuleId)" class=" " style="display: none; position: absolute; top: 0px; left:0px; z-index: 9999;">
    <div class="w3-container">

        <a href="@adminpanelurl" class="w3-button w3-round w3-white w3-border w3-text-black" title="@ResourceKey("DNNrocket.edit")">
            <img src="/DesktopModules/DNNrocket/API/images/dataset.svg" alt="@ResourceKey("DNNrocket.edit")" />
        </a>

        <a href="?action=clearcache" class="w3-button w3-round w3-white w3-border w3-text-black" title="@ResourceKey("RCT.clearcache")">
            <img src="/DesktopModules/DNNrocket/API/images/clear_cache.svg" alt="@ResourceKey("RCT.clearcache")" />
        </a>

        @if (UserUtils.IsAdministrator())
        {
            <a href="@sessionParams.Get("settingsurl")" class="w3-button w3-round w3-white w3-border w3-text-black" title="@ResourceKey("DNNrocket.settings")">
                <img src="/DesktopModules/DNNrocket/API/images/action_settings.svg" alt="@ResourceKey("DNNrocket.settings")" />
            </a>

            if (UserUtils.IsSuperUser())
            {
                <a href="@sessionParams.Get("appthemeurl")" class="w3-button w3-round w3-white w3-border w3-text-black " title="@ResourceKey("RCT.editapptheme")">
                    <img src="/DesktopModules/DNNrocket/API/images/movie_edit.svg" alt="@ResourceKey("RCT.editapptheme")" />
                </a>
            }

        }

        <span onclick="$('#a-editbuttons-@(moduleData.ModuleId)').hide();$('#a-editbuttons-@(moduleData.ModuleId)').addClass('w3-hide');" class="w3-button w3-round w3-border w3-text-black">
            <img src="/DesktopModules/DNNrocket/API/images/close.svg" alt="close" />
        </span>

    </div>
</div>

<script>
    $(".DnnModule-@(moduleData.ModuleId)").hover(function(){
          $("#a-editbuttons-@(moduleData.ModuleId)").show();
      }, function(){
          $("#a-editbuttons-@(moduleData.ModuleId)").hide();
    });
</script>
