@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using System.Globalization;



@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/rocketecommerceapi/HtmlClickAndCollect/1.0/resx/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var cartData = (CartLimpet)Model.List.First();
    if (cartData.Record != null)
    {
        info = new SimplisityInfo(cartData.Record);
    }
    var countryData = new CountryLimpet(PortalUtils.GetPortalId());
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var moduleSettings = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
}
@AddProcessDataResx(appTheme, true)

<div id="contactdetails">

    <div class="w3-xxlarge">
        <span class="w3-large">
            @ResourceKey("RE.yourcontactdetails", sessionParams.CultureCode)
        </span>
        <span class="w3-margin-left w3-small">
            @CheckBox(info, "genxml/checkbox/collectinstore", "&nbsp;" + ResourceKey("RE.collectinstore", sessionParams.CultureCode).ToString(), "class='w3-check ' disabled", true)
        </span>
    </div>

    <div class="w3-margin-bottom">
        <label>@ResourceKey("RE.firstname", sessionParams.CultureCode)</label>
        @TextBox(info, "genxml/textbox/firstname", " class='w3-input w3-border' ")
    </div>
    <div class="w3-margin-bottom">
        <label>@ResourceKey("RE.lastname", sessionParams.CultureCode)</label>
        @TextBox(info, "genxml/textbox/lastname", " class='w3-input w3-border'  ")
    </div>
    <div class="w3-margin-bottom">
        <label>@ResourceKey("RE.email", sessionParams.CultureCode)&nbsp;*</label>
        @TextBox(info, "genxml/textbox/email", " class='w3-input w3-border' name='email' required email ")
    </div>
    <div class="w3-margin-bottom">
        <label>@ResourceKey("RE.phone", sessionParams.CultureCode)</label>
        @TextBox(info, "genxml/textbox/phone", " class='w3-input w3-border' ")
    </div>
    <div class="w3-margin-bottom">
        <label>@ResourceKey("RE.company", sessionParams.CultureCode)&nbsp;(@ResourceKey("RE.optional", sessionParams.CultureCode))</label>
        @TextBox(info, "genxml/textbox/company", " class='w3-input w3-border' ")
    </div>
    <div class="w3-margin-bottom">
        <label>@ResourceKey("RE.address1", sessionParams.CultureCode)</label>
        @TextBox(info, "genxml/textbox/address1", " class='w3-input w3-border' name='address1' required autocomplete='off' ")
    </div>
    <div class="w3-row">
        <div class="w3-half w3-padding-small">
            <label>@ResourceKey("RE.city", sessionParams.CultureCode)</label>
            @TextBox(info, "genxml/textbox/city", " class='w3-input w3-border'  name='city' required autocomplete='off' ")
        </div>
        <div class="w3-half w3-padding-small">
            <label>@ResourceKey("RE.postcode", sessionParams.CultureCode)</label>
            @TextBox(info, "genxml/textbox/postcode", " class='w3-input w3-border ' name='postcode' required autocomplete='off' ")
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half w3-padding-small">
            <label>@ResourceKey("RE.country", sessionParams.CultureCode)</label>
            @DropDownList(info, "genxml/textbox/country", countryData.GetSelectedDictCountries(), "class='w3-input w3-border simplisity_change' s-dropdownlist='#region' s-cmd='settingcountry_getregion' s-fields='{\"moduleref\":\"" + moduleSettings.ModuleRef + "\"}' ")
        </div>
        <div class="w3-half w3-padding-small">
            <label>@ResourceKey("RE.region", sessionParams.CultureCode)</label>
            @{
                var countrycodeC = info.GetXmlProperty("genxml/textbox/country");
                if (countrycodeC == "")
                {
                    countrycodeC = countryData.GetPrimaryCountry();
                }
            }
            @DropDownList(info, "genxml/textbox/region", countryData.RegionDictionary(countrycodeC), "class='w3-input w3-border ' ")
        </div>
    </div>
</div>

