@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@AssigDataModel(Model)
<!--inject-->
@{
    var showtext = " display:none; ";
    if (moduleData.GetSettingBool("showsearchtext"))
    {
        showtext = "";
    }
    var showpage = " display:none; ";
    if (moduleData.GetSettingBool("showpagesize"))
    {
        showpage = "";
    }
    var showorderby = " display:none; ";
    if (moduleData.GetSettingBool("showorderby"))
    {
        showorderby = "";
    }
}
<div class="w3-bar searchdata">

    <div class="w3-bar-item " style='@(showtext)'>
        <div class="w3-bar">
            @TextBox(infoempty, "genxml/textbox/searchtext", " class='w3-bar-item w3-input w3-border w3-light-grey simplisity_sessionfield actionentrykey' autocomplete='off' ", sessionParams.Get("searchtext"))
            <span class="w3-bar-item w3-button clearsearch " style="display:none;" onclick="clearSearch();return false;">@ButtonIcon(ButtonTypes.cancel)</span>
            <span class="w3-bar-item w3-button w3-theme simplisity_click dosearch" onclick="doSearchReload();return false;" style="height:40px;">@ButtonIcon(ButtonTypes.search)</span>
        </div>
    </div>

    <div class="w3-bar-item w3-right w3-hide-small w3-margin-left" style='@(showpage)'>
        @DropDownList(infoempty, "genxml/hidden/pagesize", "12,24,48", "12,24,48", " style='height:40px;' class='w3-input w3-border simplisity_sessionfield ' onchange=\"doSearchReload();return false;\" title='" + @ResourceKey("DNNrocket.pagesize", sessionParams.CultureCode) + "'", sessionParams.PageSize.ToString())
    </div>

    @{
        var orderbyDictionary = new Dictionary<string, string>();
        foreach (var orderbyInfo in portalShop.GetProductOrderByList())
        {
            orderbyDictionary.Add(orderbyInfo.GetXmlProperty("genxml/key"), ResourceKey("RE." + orderbyInfo.GetXmlProperty("genxml/key"), sessionParams.CultureCode).ToString());
        }
        if (orderbyDictionary.Count > 1)
        {
            <div class="w3-bar-item w3-right w3-hide-small w3-margin-left" style='@(showorderby)'>
                <span>
                    @DropDownList(infoempty, "genxml/hidden/orderbyref", orderbyDictionary, " style='height:40px;' class='w3-input w3-border simplisity_sessionfield ' onchange=\"doSearchReload();return false;\"", sessionParams.Get("orderbyref"))
                </span>
            </div>
        }
    }

</div>

<div class="simplisity_loader">
    <span class=" simplisity_loader_inner">
    </span>
</div>

<script>

    $(document).ready(function () {
        if ($('.actionentrykey').val() !== '') {
            $('.actionentrykey').focus();
            $('.clearsearch').show();
            $('.dosearch').hide();
            var tmpStr = $('.actionentrykey').val();
            $('.actionentrykey').val('');
            $('.actionentrykey').val(tmpStr);
            $('#searchtext').addClass('w3-theme-light');
        }
        else {
            $('#searchtext').removeClass('w3-theme-light');
            $('.clearsearch').hide();
            $('.dosearch').show();
        }

        $('.actionentrykey').unbind('keypress');
        $('.actionentrykey').on('keypress', function (e) {
            if (e.keyCode == 13) {
                doSearchReload();
                return false; // prevent the button click from happening
            }
        });

        //simplisity_setSessionField('searchtext', $('#searchtext').val()); // we need to repopulate the session cookie if the DNN search has been used.

        $('.simplisity_loader').hide();
    });

    function clearSearch() {
        $('#searchtext').val('');
        doSearchReload();
    }

    function doSearchReload() {
        simplisity_setSessionField('searchtext', $('#searchtext').val());
        simplisity_setSessionField('pagesize', $('#pagesize').val());
        simplisity_setSessionField('orderbyref', $('#orderbyref').val());
        $('.simplisity_loader').show();
    @{
        var urlp = new Dictionary<string, string>();
        urlp.Add("page", "1");
    }
            window.location.href = '@(DNNrocketUtils.NavigateURL(sessionParams.TabId, urlp))';
    }

</script>
